// Color Variables

$base-font-color: #777;
$base-primary-color: #58e1c1;
$base-link-color: #51ddfc;

$col-3-bgcolor: #deb2ee;
$col-4-bgcolor: #7ee6fd;

// Media Query Breakpoints

$mq-desktop: 768px;