// Unique Media Queries

@media (min-width: $mq-desktop) {
    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        margin-left: initial;
        margin-right: initial;
    }
    // Col Function
    @for $i from 1 through 12 {
        .col-#{$i} {
            flex-basis: ($i * (1 / 12)) * 100%;
        }
    }
}