/* ============================================= */
/*              Grid System                      */
/* ============================================= */

.container {
    padding: 0 10px;
    @media (min-width: $mq-desktop) {
        max-width: 1400px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

.row {
    display: flex;
    flex-direction: column;
    padding: 1em 10px;
    @media (min-width: $mq-desktop) {
        flex-direction: row;
    }
}

@media (min-width: $mq-desktop) {
    .centered {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}    

[class^=col] {
    margin-top: 10px;
    flex-basis: 100%;
    min-height: 25px;
    padding: 10px;
    border-radius: 5px;
    @media (min-width: $mq-desktop) {
        display: flex;
        justify-content: center;
        margin-top: 0;
        align-items: center;
    }
}

@media (min-width: $mq-desktop) {
    [class^=col] + [class^=col] {
        margin-left: 10px;
    }
}

@each $color in $col-colors {
        .theme.col-#{index($col-colors, $color)} {
            background-color: $color;
    }
}

.card {
    flex-basis: 100%;
}