/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    color: $base-font-color;
    box-sizing: border-box;
}

a {
  text-decoration: none;
}